@import 'libs/reset.scss';
@import 'libs/settings.scss';


//typograhpy
@import 'typography/typography.scss';
//controls
@import 'controls/controls.scss'; 
@import 'controls/nav.scss';

//sections
@import 'sections/header.scss';
@import 'sections/hero.scss';
@import 'sections/advantages.scss';
@import 'sections/products.scss';
@import 'sections/materials.scss';
@import 'sections/projects.scss';
@import 'sections/feedback.scss';
@import 'sections/faq.scss';
@import 'sections/footer.scss';
@import 'sections/modal.scss';



    
  
