.section-feedback{
  .section-feedback__wrapper{
    padding: 0px 0px 50px 75px;  
  }
  .feedback-slider{
      overflow: hidden;
      position: relative;
      padding-bottom: 90px;
      padding-left: 10px;
      padding-top: 10px;
      max-width: 1290px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-right: 12px;
    
    }
    .feedback-slider__wrapper{
      padding-bottom:15px;
    }
    .feedback-slider__slide{
      display: flex;
    
    }
    .feedback-slider__block{
      width: 520px;
      min-height: 390px;
      box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
      padding: 30px;
    }
    .feedback-slider__title{
      margin-top: 10px;
      display: flex;
      height: 90px;
    }
    .feedback-slider__icon{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
      margin-right: 25px;
    }
    .feedback_data{
      text-transform: uppercase;
      color:#FE8647;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 1px;
    }
    .feedback_name{
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      margin: 30px 0 10px 0;
    }
    .feedback_description{
      height: 140px;
      font-weight: 300;
      overflow: hidden;
      line-height: 28px;
      margin-top: 20px;
      padding-right: 10px;
    }
    .feedback-slider__subtitle{
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color:#595959;
    }
    .swiper-pagination__feedback{
      position: absolute;
      top: 90%;
    }
    .feedback-slider .swiper-pagination-bullet{
      width: 20px;
      height: 20px;
      border: 1px solid #FE8647;
      background: transparent;
    }
    .feedback-slider .swiper-pagination-bullet-active{
      background-color: #FE8647;
    }
    .swiper-button-prev__feedback{
      top: 430px;
      right: 110px;
      background-image: url('../images/icons/arrow-right-white.svg');  
      background-color:#FE8647;
      background-repeat: no-repeat;
      background-position: 50% 48%;
      box-shadow: 0px 10px 20px 0px rgba(250, 120, 52, 0.2);
    }
    .swiper-button-next__feedback{
      background-image: url('../images/icons/arrow-left-white.svg');
      background-position: 50% 48%;
      background-repeat: no-repeat;
      background-color: #FE8647;
      box-shadow: 0px 10px 20px 0px rgba(250, 120, 52, 0.2);
      top: 430px;
      right: 190px;
     }
    .swiper-button-next__feedback, .swiper-button-prev__feedback{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: absolute;
      z-index: 4;
      cursor: pointer;
    }
    .title_adv{
      color: #595959;
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      letter-spacing: 1px;
    }
  .title_adv_site{
      text-transform: uppercase;
      color:#FE8647;
      font-size: 48px;
      font-weight: 900;
      line-height: 56px;
      letter-spacing: 2px;
    } 
}