.footer__container{
    padding: 0 75px;
}
.footer__content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 64px 0 30px 0;
}
.footer__logo{
    width: 25%;
}
.footer-contacts{
    width: 50%;
    max-width: 589px;
    display: flex;
    justify-content: space-between;
}
.footer__contacts-wrapper{
    width: 50%;
    padding-left: 60px; 
}
.footer__contacts-item{
    font-size: 18px;
    font-weight: 600;
    padding-top: 6px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    .contacts-item-icon{
        position: absolute;
        top: -5px;
        left: -52px;
    }
}
.footer__adress-wrapper{
    width: 100%;
    max-width: 306px;
    padding-left: 60px;
}
.footer__adress-item{
    font-size: 16px;
    font-weight: 300;
    color: #595959;
    line-height: 1.8;
    position: relative; 
    .adress-item-icon{
        position: absolute;
        top: -5px;
        left: -52px;
    }   
}

.footer__link-wrapper{
    display: flex;
    justify-content: flex-end;
    
    .social-link{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        background-color: #EAEAEA;
        border-radius: 50%;
        &:hover{
            background-color: #FE8647;
        }
    }
}
.footer-link{
    color: #595959;
    &:hover {
        color: #FE8647;

    }
}

.social-link-fb{
    background: center url('../images/icons/fb-icon-orange.svg') no-repeat;
    &:hover{
        background: center url('../images/icons/fb-icon-white.svg') no-repeat;
    }

}
.social-link-insta{
    background: center url('../images/icons/insta-icon-orange.svg') no-repeat;
    &:hover{
        background: center url('../images/icons/insta-icon-white.svg') no-repeat;
    }
}
.social-link-telegram{
    background: center url('../images/icons/telegram-icon-orange.svg') no-repeat;
    &:hover{
        background: center url('../images/icons/telegram-icon-white.svg') no-repeat;
    }
}
.social-link-viber{
    background: center url('../images/icons/viber-icon-orange.svg') no-repeat;
    &:hover{
        background: center url('../images/icons/viber-icon-white.svg') no-repeat;
    }
}
.social-link-whatsapp{
    background: center url('../images/icons/whatsapp-icon-orange.svg') no-repeat;
    &:hover{
        background: center url('../images/icons/whatsapp-icon-white.svg') no-repeat;
    }
}

.footer__politics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
}
.copyright{
    color: #595959;
    text-transform: uppercase;
}
.politicss-agreement{
    color: #595959;
    text-decoration: underline;
}
