.section-hero{
    .image-slider{
        position: relative;
        overflow: hidden;
      }
      .image-slider__slide img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
        /* Пагинация */
      .image-slider .swiper-pagination{
        bottom: 40px;
      }
        
      .image-slider .swiper-pagination-bullet{
        width: 20px;
        height: 20px;
        background-color: #FE8647;
      }
      .section-hero__wrapper{
        position: relative;
      }
      
      .arrow-btn-hero{
        margin-left: 36px;
      } 

      .hero-section__text-container{
        padding: 0 75px;
        position: relative;

        .hero-section__wrapper-text{
          max-width: 632px;
          position: absolute;
          bottom: 132px;
          z-index: 10; 
        }
      }
      .hero-section-text{
        font-size: 40px;
        font-weight: 700;
        line-height: 56px;
        color: #ffff;
        margin-bottom: 59px;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      .hreo-section-text-accent{
        font-size: 98px;
        font-weight: 900;
        line-height: 72px;
        color: #FE8647;
        text-transform: none;
        letter-spacing: 2px;
      }
      .button-secondary{
        min-width: 364px;
        height: 65px;
      }
 }
