.modal-window{
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgb(0, 0, 0, .8);
}  
.modal-window--active{
  display: flex;
}

.modal-window__content{
  max-width: 790px;
  background-color: #ffff;
  padding: 50px 80px 60px 80px;
  margin: 0 47px;
  position: relative;
}
.modal-window__content-order{
  display: block;
}
.modal-window__content-order--hidden{
  display: none;
}
.modal-window-close-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.modal-window__title{
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  color: #FE8647;
  text-align: center;
  margin-bottom: 20px;
}
.modal-window__description{
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
  text-align: center;
  margin-bottom: 40px;
}
/*button***********************/
.button-modal{
  min-width: 280px;
  height: 65px;
  font-size: 22px;
  background-color: transparent;
  color: #000000;
}
.button-modal:hover{
  background-color: transparent;
  color: #000000;
  border: 2px solid #cccccc;
}

.button-modal--active{
  border: 2px solid #FE8647;
  background-color: #FE8647;
  color: #ffff; 
}

.button-modal--active:hover{
  border: 2px solid #FE8647;
  background-color: #FE8647;
  color: #ffff; 
}
.modal-buttons-wreapper{
  display: flex;
  justify-content: space-between;
}
.modal-link-wrapper{
  display: flex;
}
.modal-social-link{
  width: 52px;
  height: 52px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #EAEAEA;
  margin-right: 15px;
  cursor: pointer;
}

/*modal-window-success*/
.modal-window__content-success{
  display: none;
  
}
.modal-window__content-success--active{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-window__content-success .modal-window__description{
  max-width: 370px;
} 

.modal-window-img{
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #EAEAEA;
}
/*form modal******/
.form__modal{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
position: relative;

.input {
    width: calc(50% - 15px);
    padding-left: 15px;
    height: 60px;
    outline: none; 
    justify-content: flex-start; 
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;

    &-phone--invalid{
        border: 1px solid #FF7E7E;
        color: #FF7E7E;
    }
        
}
.input-phone-label{
    position: absolute;
    top: -25px;
    right: 0;
    color: transparent;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    &--invalid{
        color: #FF7E7E;
   }

}
.input-text{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 140px;
  margin-bottom: 40px;
  outline: none; 
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
}
.form-label{
    position: absolute;
    top: 68px;
    &--invalid{
        color: rgba(255, 65, 65, .8);
    }
}
} 